services:
  postgres_db:
    image: postgres:16-alpine
    container_name: rauw-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nestdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

  rauw-backend:
    build: .
    image: rockyhaque/rauw:latest
    container_name: rauw-backend
    restart: always
    env_file:
      - .env
    depends_on:
      - postgres_db
    ports:
      - "3009:3009"
    command: >
      sh -c "npx prisma migrate deploy &&
             npx prisma generate &&
             npm run start:prod"
    networks:
      - app_network

  caddy:
    image: caddy:2-alpine
    container_name: caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - rauw-backend
    networks:
      - app_network

volumes:
  postgres_data:
  caddy_data:
  caddy_config:

networks:
  app_network:
    driver: bridge
